@tailwind base;
@import './base.css';

@tailwind components;
@import './components.css';

@tailwind utilities;

@font-face {
    font-family: ttcommon_font;
    src: url('./fonts/TTCommons/TTCommons-Regular.otf');
}
@font-face {
    font-family: ttcommon_font_thin;
    src: url("./fonts/TTCommons/TTCommons-Thin.otf");
}
@font-face {
    font-family: ttcommon_font_bold;
    src: url("./fonts/TTCommons/TTCommons-Bold.otf");
}
.ttcommon_font {
    font-family: ttcommon_font;
}
.ttcommon_font_thin {
    font-family: ttcommon_font_thin;
}
.ttcommon_font_bold {
    font-family: ttcommon_font_bold;
}
button:focus, input:focus, select:focus {
    outline: none;
}
.pos_center {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
/* swiper carousel css */
.swiper-button-next, .swiper-button-prev {
    width: 32px !important;
}
.swiper-button-next:after {
    width: 32px;
    height: 32px;
    font-size: 11px !important;
    background-color: black;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-button-prev:after {
    width: 32px;
    height: 32px;
    font-size: 11px !important;
    background-color: black;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-pagination-bullet-active {
    background-color: black;
}

/* shop product title css */
.s-p-title {
    font-size: 200px;
    line-height: 160px;
}
.img_bg_transparent {
    mix-blend-mode: multiply;
}