@tailwind base;
@import './base.css';

@tailwind components;
@import './components.css';

@tailwind utilities;

@font-face {
    font-family: ttcommon_font;
    src: url('./fonts/TTCommons/TTCommons-Regular.otf');
}
.ttcommon_font {
    font-family: ttcommon_font;
}
button:focus, input:focus, select:focus {
    outline: none;
}

.swiper-button-next, .swiper-button-prev {
    width: 32px !important;
}
.swiper-button-next:after {
    width: 32px;
    height: 32px;
    font-size: 11px !important;
    background-color: black;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-button-prev:after {
    width: 32px;
    height: 32px;
    font-size: 11px !important;
    background-color: black;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-pagination-bullet-active {
    background-color: black;
}

